# Blazor / ASP.NET Core
*.log
*.vscode/
*.vs/
*.user
bin/
obj/
PublishProfiles/
*.dbmdl
*.jfm
*.mdb
*.pdb
*.cache
*.gpState
*.bak
*.ipdb
*.iobj
*.ilk
*.opendb
*.pch
*.pgc
*.pgd
*.pgogen
*.rsp
*.sbr
*.ipch/
*.vspscc
*.vssscc
.DS_Store
_bin/
_obj/
